#printpdf-toolbar-button
{
  list-style-image: url("chrome://printpdf/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#printpdf-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #printpdf-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #printpdf-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}
